{% extends 'theme/base.html' %}
{% block hub_listing_is_active %}active{% endblock %}
{% block subheader %}Hub listing{% endblock %}
{% block pagecontent %}
    <ul>
        {% for hub in hubs %}
            <li>
                {{ hub.topic }}
                - submitted by: 
                {{ hub.username }}
                - HubPoints:
                {{ hub.hubpoints }} 
                <a href="{% url 'hub_details' hub.id %}">Details</a>
            </li>
        {% endfor %}
    </ul>

    <nav>
        <ul class="pager">
            {% if hubs.has_previous %}
            <li class="previous">
                <a href="?page={{ hubs.previous_page_number }}">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>
            {% endif %}
            <li>
                <span class="current">
                    Page {{ hubs.number }} of {{ hubs.paginator.num_pages }}
                </span>
            </li>
            {% if hubs.has_next %}
                <li class="next">
                    <a href="?page={{ hubs.next_page_number }}">
                        Next <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="row" style="margin-bottom: 500px">
        <div class="col-sm-12">
            <h3>Add new Topic</h3>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="3" name="new_topic"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default">Save new Topic</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}




