{% extends 'theme/base.html' %}
{% block subheader %}Hub details{% endblock %}
{% block pagecontent %}
    
    <div class="row">
        <div class="col-sm-12">
    <h2>Hub World {{ hub.id }}</h2> 
    <table class="table">
        <thead>
            <tr>
                <th>Created by</th>
                <th>Email</th>
                <th>Topic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ hub.username }}</td>
                <td>{{ hub.email }}</td>
                <td>{{ hub.topic }}</td>
            </tr>
        </tbody>
    </table>
    </a>
    </div>
    </div>

{% endblock %}









