{% extends 'theme/base.html' %}
{% block subheader %}Hub details{% endblock %}
{% block pagecontent %}
    
    <div class="row">
        <div class="col-sm-12">
    <h2>Hub World {{ hub.id }}</h2> 
    <table class="table">
        {% for topic in topics %}
        <thead>
            <tr>
                <th>Topic</th>
                <th>
                    <a href="" class="add-points-link" data-topicid="{{ topic.id }}">
                        +HubPoints
                    </a>
                </th>
                <th>Created by</th>
                <th>Created at</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ hub.topic }}</td>
                <td id="id-points-for-topic-{{ topic.id }}">{{ hub.hubpoints }}</td>
                <td>{{ hub.username }}</td>
                <td>{{ hub.created_datetime }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
    </div>

    <input type="hidden" id="add_points_url" 
        value="/hubs/{{ hub.id }}/add_points">


{% endblock %}









